FRONTEND_URL=<frontend_url>
DB_MONGO_URL=mongodb+srv://<db_user>:<db_password>@<db_cluster_url>
DISCORD_BOT_TOKEN=<discord_bot_token>
DISCORD_PUBLIC_KEY=<discord_app_public_key>
DISCORD_SPAWN_CHANNEL_ID=<channel_id_to_post_spawns>
CRON_KEY=<secret_key_for_internal_api>